a {
    text-decoration: none;
    background-color: inherit;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav li:last-child {
    margin-right: 0px;
}

body {
    height: 100%;
    width: auto;
    background: #FFF;
    background: url(../images/ptrbackground.jpg) repeat-x;
    color: #666666;
}

#wrapper {
    margin: 0 auto;
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 2px 3px 3px #333333;
    background-color: #FFFFFF;
}

header {
    background: #000000 url("../images/sunset.jpg") top right no-repeat;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    width: 100%;
    color: white;
}

h1 {
    margin-top: 0;
}

h2 {
    text-shadow: 1px 0px gray;
}

h3 {
    color: #000000;
}

nav {
    background-color: #90c7E3;
    height: 20px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

main {
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    display: block;
}

footer {
    padding: 20px;
    margin: 0 auto;
    width: 980px;
    text-align: center;
    margin-bottom: 125px;
}

#homehero {
    height: 250px;
    background: url("../images/coast.jpg") no-repeat;
}

#deckview {
    height: 250px;
    background: url("../images/deckview.jpg") no-repeat;
}

#trailhero {
    height: 250px;
    background: url("../images/trail.jpg") no-repeat;
}

#yurthero {
    height: 250px;
    background: url("../images/yurt.jpg") no-repeat;
}