header,
main,
nav,
footer,
figure,
figcaption,
aside,
section,
article {
    display: block;
}

a {
    text-decoration: none;
    background-color: inherit;
    color: #000033;
}

a:visited {
    color: #344873;
}

a:hover {
    color: #FFFFFF;
}

h1 {
    margin-top: 0;
    font-family: Georgia, "Times New Roman", serif;
}

h2 {
    color: #3399CC;
    text-shadow: 1px 0px gray;
}

h3 {
    color: #344873;
    font-family: Georgia, "Times New Roman", serif;
}

body {
    width: auto;
    background: linear-gradient(white, #4F6D93);
    color: #4F6D93;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    margin: 0 auto;
    width: 80%;
    min-width: 960px;
    max-width: 2048px;
    box-shadow: 2px 3px 3px #333333;
    background-color: #90C7E3;
}

header {
    background: #344873 url("../images/sunset.jpg") top right no-repeat;
    height: 60px;
    line-height: 400%;
    text-indent: 1em;
    text-align: center;
    padding-top: 15px;
    width: 100%;
    color: white;
}

nav {
    height: auto;
    padding: 20px;
    font-weight: bold;
    float: left;
    width: 160px;
}

nav ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
    font-size: 1.2em;
}

main {
    background-color: #ffffff;
    margin-left: 190px;
    padding-top: 1px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    display: block;
}

main span {
    color: #5C7FA3;
    font-weight: bold;
}

main div p {
    font-size: 90%;
}

main ul li {
    list-style-image: url(../images/marker.gif);
}

footer {
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 125px;
    margin-left: 190px;
    background-color: white;
    font-family: Georgia, "Times New Roman", serif;
    font-style: italic;
    font-size: 75%;
}

#homehero {
    height: 300px;
    background: url("../images/coasthero.jpg") no-repeat;
    background-size: 100% 100%;
    margin-left: 190px;
}

#deckview {
    height: 250px;
    background: url("../images/deckview.jpg") no-repeat;
}

#trailhero {
    height: 250px;
    background: url("../images/trailhero.jpg") no-repeat;
    background-size: 100% 100%;
    margin-left: 190px;
}

#yurthero {
    height: 250px;
    background: url("../images/yurthero.jpg") no-repeat;
    background-size: 100% 100%;
    margin-left: 190px;
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}

table {
    border: 1px solid #3399cc;
    width: 80%;
    border-spacing: 0;
}

table td.text {
    text-align: center;
}
table td:nth-child(2) {
    text-align: left;
}
td, th {
    padding: 5px;
    border: 1px solid #3399cc;
}
table tbody tr:nth-child(odd){
    background-color: #f5fafc;
}
@media only screen and (max-width: 64em) {
    body {
        margin: 0;
        background-color: #FFFFFF;
    }
    #wrapper {
        min-width: 0;
        width: auto;
        box-shadow: none;
    }
    main {
        margin-left: 0;
    }
    nav {
        float: none;
        width: auto;
        text-align: center;
        padding: 0.5em;
    }
    nav ul li {
        display: inline;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
    #homehero {
        margin: 0;
        height: 200px;
    }
    #yurthero {
        margin: 0;
        height: 200px;
    }
    #trailhero {
        margin: 0;
        height: 200px;
    }
    footer {
        margin-left: 0;
    }
}

@media only screen and (max-width: 37.5em) {
    #header {
        padding-top: 1em;
    }
    #main {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 90%;
    }
    h1 {
        font-size: 1.5em;
    }
    nav {
        padding: 0;
    }
    nav ul li {
        display: block;
        margin: 0;
        border-bottom: 2px #330000;
    }
    nav a {
        display: block;
    }
    #yurthero {
        display: none;
        background-image: none;
        height: 0;
    }
    #homehero {
        display: none;
        background-image: none;
        height: 0;
    }
    #trailhero {
        display: none;
        background-image: none;
        height: 0;
    }
    #mobile {
        display: inline;
    }
    #desktop {
        display: none;
    }
}